html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    background: #f7f7f7;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #242424;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 2rem;
    text-decoration: underline 1px;
    position: relative;
    font-weight: unset;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 420px;
    max-width: 768px;
    margin: 0 auto;
    font-family: monospace, sans-serif;
    font-size: 22px;
}
main label {
    display: block;
}

section.settings {
    width: 50%;
    z-index: 2;
}
.box-container {
    padding: 60px;
    border: 1px solid #000;
    margin-left: 150px;
}

.settings-container {
    padding: 25px;
}

.box {
    width: 150px;
    height: 150px;
    background: hsl(205, 93%, 79%);
    border: 1px solid #000;
}

button {
    background-color: transparent;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    outline: none;
    border: 1px solid #000;
    margin-right: 10px;
    cursor: pointer;
    color: #000;
}

button:hover {
    background-color: hsl(205, 93%, 79%);
}

label {
    color: #000;
    font-size: 14px;
}

p {
    margin: 5px;
    font-size: 12px;
}

input[type='range'] {
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #ffffff;
    border-radius: 0px;
    border: 1px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: hsl(205, 93%, 79%);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}
input[type='range']::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #ffffff;
    border-radius: 0px;
    border: 1px solid #000000;
}
input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: hsl(205, 93%, 79%);
    cursor: pointer;
}
input[type='range']::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type='range']::-ms-fill-lower {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: hsl(205, 93%, 79%);
    cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
    background: #ffffff;
}
input[type='range']:focus::-ms-fill-upper {
    background: #ffffff;
}
